.section-4{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    height: 80vh;
    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        .image-accessories{
            background-image: url('../assets/images/homepage_accessories_DESKTOP_bkg_C.png');
            height: 80%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 100%;
        }
    }
    .right{
        width: 40%;
        height: 100%;
        .accessories{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            .container-info{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                h2{
                    text-transform: uppercase;
                    font-size: 6rem;
                    color: $color3;
                }   
                span{
                    margin: 3rem 0;
                    font-size: 3rem;
                    color: $color2;
                    text-align: center;
                }
                a{
                    font-size: 2.5rem;
                    border-radius: 8px;
                    padding: 4rem 6rem;
                    font-weight: bold;
                    background-color: $color5;
                    color: $color1;
                }
            }
        }
    }
}


//Max 1800px
@media (max-width: 1800px){
    
    .section-4{
        .right{
            .accessories{
                .container-info{
                    h2{
                        font-size: 4rem;
                    }   
                    span{
                        font-size: 1.8rem;
                    }
                    a{
                        font-size: 1.5rem;
                        padding: 2rem 3rem;
                    }
                }
            }
        }
    }
}

//Max 1100px
@media (max-width: 1100px){

    .section-4{
        margin-top: 0px;
        flex-direction: column-reverse;
        .left{
            width: 100%;
            height: 65%;
            margin-top: 50px;
            .image-accessories{
                height: 100%;
                width: 100%;
            }
        }
        .right{
            width: 100%;
            height: 35%;
            .accessories{
                .container-info{
                    width: 50%;
                    h2{
                        font-size: 3rem;
                    }   
                    span{
                        font-size: 1.3rem;
                    }
                    a{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

//Max 700px
@media (max-width: 700px){
    
}

//Max 550px
@media (max-width: 550px){
    .section-4{
        .right{
            .accessories{
                .container-info{
                    width: 100%;
                    h2{
                        font-size: 3rem;
                    }   
                    span{
                        font-size: 2rem;
                    }
                    a{
                        width: 80%;
                        text-align: center;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

//Max 400px
@media (max-width: 400px){
}