* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

Body {
  overflow-x: hidden;
  background-color: #ffffff;
  min-height: 100vh;
  width: 100vw;
}
Body .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 160px;
  width: 100%;
}
.nav-bar .web {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.nav-bar .web .logo {
  width: 220px;
}
.nav-bar .web .logo img {
  width: 100%;
}
.nav-bar .web .options .items {
  display: flex;
  flex-direction: row;
}
.nav-bar .web .options .items .item {
  margin-left: 5.8rem;
}
.nav-bar .web .options .items .item a {
  padding: 1.5rem 0;
  font-size: 4rem;
  font-weight: bold;
  color: #808183;
  position: relative;
}
.nav-bar .web .options .items .item a:hover {
  color: #222b33;
  transition: color 0.6s;
}
.nav-bar .web .options .items .item a:before {
  content: "";
  border-bottom: 3px solid #222b33;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.6s;
  width: 0;
}
.nav-bar .web .options .items .item a:hover:before {
  width: 100%;
  border-color: #222b33;
}
.nav-bar .web .right .items-2 {
  display: flex;
  flex-direction: row;
}
.nav-bar .web .right .items-2 .item-2 a {
  font-size: 5rem;
  color: #808183;
  margin-left: 3rem;
  font-weight: bold;
}
.nav-bar .mobile {
  display: none;
}

@media (max-width: 1800px) {
  .nav-bar {
    height: 80px;
  }
  .nav-bar .web .logo {
    width: 140px;
  }
  .nav-bar .web .options .items .item {
    margin-left: 5.8rem;
  }
  .nav-bar .web .options .items .item a {
    font-size: 1.7rem;
  }
  .nav-bar .web .right .items-2 .item-2 a {
    font-size: 2.5rem;
  }
}
@media (max-width: 1100px) {
  .nav-bar .web {
    display: none;
  }
  .nav-bar .mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
  }
  .nav-bar .mobile .logo {
    width: 140px;
  }
  .nav-bar .mobile .logo img {
    width: 100%;
  }
  .nav-bar .mobile .right .items-2 {
    display: flex;
    flex-direction: row;
  }
  .nav-bar .mobile .right .items-2 .item-2 a {
    font-size: 2.5rem;
    color: #808183;
    margin-left: 3rem;
    font-weight: bold;
  }
}
.ship {
  width: 100%;
  height: 80px;
  background-color: #0063d1;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ship p {
  font-size: 3rem;
  font-weight: bold;
}
.ship ion-icon {
  font-size: 4rem;
  margin-right: 1rem;
}

@media (max-width: 1800px) {
  .ship {
    width: 100%;
    height: 30px;
    background-color: #0063d1;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .ship p {
    font-size: 1.2rem;
  }
  .ship ion-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}
.all {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-1 {
  height: 130vh;
  width: 100%;
  background-image: url("../assets/images/capa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-1 .container-main {
  height: 100%;
  background-image: url("../assets/images/homepage_hero_desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10%;
}
.section-1 .container-main .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22%;
}
.section-1 .container-main .actions a {
  margin: 0 3rem;
  font-size: 3.5rem;
  border-radius: 8px;
  padding: 4rem 6rem;
  font-weight: bold;
}
.section-1 .container-main .actions #a1 {
  background-color: #ffffff;
  color: #c80226;
}
.section-1 .container-main .actions #a2 {
  background-color: #c80226;
  color: #ffffff;
}

@media (max-width: 1800px) {
  .section-1 {
    height: 110vh;
  }
  .section-1 .container-main .actions a {
    margin: 0 1.4rem;
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }
}
@media (max-width: 700px) {
  .section-1 {
    height: 130vh;
    background-image: url("../assets/images/homepage_hero_mobile_bkg.jpg");
  }
  .section-1 .container-main {
    background-image: url("../assets/images/homepage_hero_mobile.png");
    margin-top: 30%;
  }
  .section-1 .container-main .actions {
    flex-direction: column;
    padding-top: 35%;
  }
  .section-1 .container-main .actions #a1 {
    margin-bottom: 2rem;
  }
}
@media (max-width: 550px) {
  .section-1 {
    height: 100vh;
  }
  .section-1 .container-main {
    margin-top: 60%;
  }
  .section-1 .container-main .actions {
    padding-top: 40%;
  }
}
.section-2 {
  width: 90%;
  margin: 200px auto;
}
.section-2 .products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-2 .products .product {
  margin: 1rem;
  flex: 30%;
  cursor: pointer;
}
.section-2 .products .product .image {
  position: relative;
  border-bottom: 1rem solid red;
}
.section-2 .products .product .image img {
  border: 2px solid #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.section-2 .products .product .image figcaption {
  bottom: 0;
  color: #ffffff;
  padding: 2rem;
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
}
.section-2 .products .product:hover > .image figcaption {
  color: #808183;
}

@media (max-width: 1800px) {
  .section-2 {
    width: 85%;
    margin: 100px auto;
  }
  .section-2 .products .product .image {
    border-bottom: 0.5rem solid red;
  }
  .section-2 .products .product .image figcaption {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .section-2 {
    width: 95%;
    margin: 80px auto;
  }
  .section-2 .products .product .image figcaption {
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .section-2 {
    width: 98%;
    margin: 50px auto;
  }
  .section-2 .products .product .image figcaption {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
.section-3 {
  height: 80vh;
  width: 100%;
  position: relative;
  margin-top: 100px;
}
.section-3 .container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.section-3 .container-flex .info {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  flex-direction: column;
  width: 35%;
}
.section-3 .container-flex .info .container-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.section-3 .container-flex .info .container-info h2 {
  font-size: 6rem;
  color: #222b33;
}
.section-3 .container-flex .info .container-info span {
  margin: 3rem 0;
  font-size: 3rem;
  color: #808183;
  text-align: center;
}
.section-3 .container-flex .info .container-info a {
  font-size: 2.5rem;
  border-radius: 8px;
  padding: 4rem 6rem;
  font-weight: bold;
  background-color: #c80226;
  color: #ffffff;
}
.section-3 .container-flex .hm {
  display: flex;
  align-items: flex-end;
  height: 100%;
  z-index: 10;
}
.section-3 .container-flex .hm img {
  height: 90%;
  width: 100%;
}
.section-3 .back-image {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
}
.section-3 .back-image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1800px) {
  .section-3 {
    margin-top: 50px;
  }
  .section-3 .container-flex .info .container-info h2 {
    font-size: 4rem;
  }
  .section-3 .container-flex .info .container-info span {
    font-size: 1.8rem;
  }
  .section-3 .container-flex .info .container-info a {
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }
}
@media (max-width: 1100px) {
  .section-3 {
    height: 90vh;
  }
  .section-3 .container-flex {
    flex-direction: column;
  }
  .section-3 .container-flex .info {
    width: 50%;
  }
  .section-3 .container-flex .info .container-info {
    width: 100%;
  }
  .section-3 .container-flex .info .container-info h2 {
    font-size: 3rem;
  }
  .section-3 .container-flex .info .container-info span {
    font-size: 1.3rem;
  }
  .section-3 .container-flex .info .container-info a {
    font-size: 1.2rem;
  }
  .section-3 .container-flex .hm {
    height: 60%;
  }
  .section-3 .back-image {
    height: 20%;
  }
}
@media (max-width: 550px) {
  .section-3 {
    height: 70vh;
  }
  .section-3 .container-flex {
    flex-direction: column;
  }
  .section-3 .container-flex .info {
    width: 100%;
  }
  .section-3 .container-flex .info .container-info {
    width: 100%;
  }
  .section-3 .container-flex .info .container-info h2 {
    font-size: 4rem;
  }
  .section-3 .container-flex .info .container-info span {
    font-size: 2rem;
  }
  .section-3 .container-flex .info .container-info a {
    font-size: 2rem;
  }
  .section-3 .container-flex .hm {
    height: 100%;
  }
  .section-3 .back-image {
    height: 20%;
  }
}/*# sourceMappingURL=main.css.map */